#myCanvas > div{
    background-color: green !important;
}

.row-input{
    padding: 10px !important;
}

.color_picker > input{
    visibility: hidden !important;
    display: none !important;
    width: 0 !important;
    height: 0 !important;
}

.color_picker > span{
    width: 30px !important;
    height: 33px !important;
    padding: 4px !important;
    border: 1px solid #ccc !important;
    border-radius: 4px !important;
}

.strokeWidth{
    width: 65px !important;
    padding: 2px 5px;
}
textarea { resize: vertical; }

